{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header bsk-page-header-stacked">
  <h1>
    <small>Vocabulary</small>
    <br>
    NASA GCMD (Keywords)
  </h1>
</header>

<div class="bsk-row">
    <div class="bsk-col-12-md-10">
        <p>
            The <a href="https://earthdata.nasa.gov/earth-observation-data/find-data/gcmd/gcmd-keywords">NASA Global Change Master Directory (GCMD)</a>
            includes a series of descriptive keywords for various concepts including subjects in Earth science,
            locations and paleotemporal units.
        </p>
        <section class="app-space-lg">
            <h2>Vocabularies</h2>
            <section id="earth-science" class="app-space-md">
                <h3>Earth Science (subjects)</h3>
                <h4>Terms</h4>
                <p>Terms for GCMD Earth Science keywords are listed in this website.</p>
            </section>
        </section>
    </div>
</div>
{% endblock %}
