{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header bsk-page-header-stacked">
  <h1>
    <small>Vocabulary</small>
    <br>
    ISO 19115 (Code lists)
  </h1>
</header>

<div class="bsk-row">
    <div class="bsk-col-12-md-10">
        <p>
            <a href="/standards/iso-19115">ISO 19115</a> is a metadata standard that includes a number of controlled
            terms for elements such as date types and topic categories. These controlled terms are selected through a
            <a href="/about#vocabularies-code-lists">code list</a> mechanism.
        </p>
        <section class="app-space-lg">
            <h2>Code lists</h2>
            <p>
                There are two 'generations' of code list, <em>ISO 19115</em> and <em>ISO 19115-1</em>, which correspond
                to two of the standards from the ISO 19115 family (where <em>ISO 19115</em> can be treated as
                <em>19115-0</em>).</p>
            <p>
                Strictly speaking, records encoded using ISO 19139 may only use the <em>19115(-0)</em> code list,
                however in practice, terms from the <em>ISO 19115-1</em> code list are used as well to indicate things
                such as a 'released' date which otherwise cannot be expressed.</p>

            <section class="app-space-md">
                <h3>Code list locations</h3>
                <dl class="bsk-dl-lg">
                    <dt>ISO 19115(-0)</dt>
                    <dd><code>http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/gmxCodelists.xml</code></dd>
                    <dt>ISO 19115-1</dt>
                    <dd><code>https://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml</code></dd>
                </dl>
            </section>
        </section>

        <section class="app-space-lg">
            <h2>Terms</h2>
            <p>Terms for ISO 19115 code lists are well documented in the
                <a href="https://geo-ide.noaa.gov/wiki/index.php?title=ISO_19115_and_19115-2_CodeList_Dictionaries#CI_DateTypeCode">NOAA Wiki</a>.</p>
        </section>
    </div>
</div>
{% endblock %}
