{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header bsk-page-header-stacked">
  <h1>
    <small>Vocabulary</small>
    <br>
    Other vocabularies (various)
  </h1>
</header>

<div class="bsk-row">
    <div class="bsk-col-12-md-10">
        <section class="app-space-lg">
            <h2>Vocabularies</h2>
            <table class="bsk-table">
                <thead>
                    <tr>
                        <th>Vocabulary</th>
                        <th>Description/Use</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="http://unitsofmeasure.org/ucum.html#section-Grammar-of-Units-and-Unit-Terms">Unified Code for Units of Measure</a></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a href="http://cfconventions.org/standard-names.html">CF Conventions</a></td>
                        <td>Climate and Forecast convention</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.tropicos.org/">Tropicos</a></td>
                        <td>Species identification</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.mycobank.org/">MycoBank</a></td>
                        <td>Species identification</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.marinespecies.org/">WoRMS</a></td>
                        <td>Species identification</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/P01/">NERC Vocabulary Service: P01 - BODC parameter usage vocabulary</a></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/L22/">NERC Vocabulary Service: L22 - SeaVoX device catalogue</a></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/L05/">NERC Vocabulary Service: L05 - SeaDataNet device categories</a></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/L06/">NERC Vocabulary Service: L06 - SeaVoX platform categories</a></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/B76/">NERC Vocabulary Service: B76 - BODC platform models</a></td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
{% endblock %}
