<footer id="site-footer" class="font-light bg-grey-950 dark:bg-black text-grey-100 text-center">
    <div class="container mx-auto px-2 py-8 space-y-4 lg:space-y-8">
        <div class="flex flex-col justify-between space-y-4 lg:space-y-0 lg:flex-row">
            <a class="underline text-sky-blue-300 dark:text-sky-blue-500" href="mailto:magicdev@bas.ac.uk">Is something wrong with this page?</a>
            <a class="underline text-sky-blue-300 dark:text-sky-blue-500 lg:text-right" href="#site-top">Back to top</a>
        </div>
        <div class="flex flex-col justify-between space-y-4 lg:space-y-0 lg:flex-row">
            <div class="lg:text-left lg:flex lg:space-x-2">
                <p>© <a class="underline text-sky-blue-300 dark:text-sky-blue-500" href="https://www.bas.ac.uk">British Antarctic
                    Survey</a> YEAR<span class="hidden lg:inline">.</span></p>
            </div>
            <ul class="flex justify-center space-x-2 lg:justify-end">
                <li><a class="underline text-sky-blue-300 dark:text-sky-blue-500" href="/legal/accessibility">Accessibility</a></li>
                <li><a class="underline text-sky-blue-300 dark:text-sky-blue-500" href="/legal/cookies">Cookies</a></li>
                <li><a class="underline text-sky-blue-300 dark:text-sky-blue-500" href="/legal/copyright">Copyright</a></li>
                <li><a class="underline text-sky-blue-300 dark:text-sky-blue-500" href="/legal/privacy">Privacy</a></li>
            </ul>
        </div>
        <a class="block lg:hidden underline text-sky-blue-300 dark:text-sky-blue-500" target="_blank" href="https://www.bas.ac.uk">Part of British Antarctic Survey</a>
    </div>
</footer>
