<header id="site-header" class="space-y-4">
    <nav id="site-nav" class="lg:p-4 bg-grey-950 dark:bg-black text-white">
        <div class="container mx-auto lg:flex lg:gap-8 lg:justify-between lg:items-end">
            <div class="flex-none flex justify-center lg:justify-start items-center">
                <a id="site-title" class="block font-bold text-lg text-center lg:text-left" href="/">BAS Metadata Standards</a>
            </div>
            <div class="flex-1 flex self-center justify-end">
                <a class="hidden lg:block hover:underline" href="https://www.bas.ac.uk">Part of British Antarctic Survey</a>
            </div>
        </div>
    </nav>

    <div id="site-dev" class="container mx-auto px-2 space-x-2">
        <span id="site-dev-phase" class="uppercase text-sm font-bold bg-orange-500 text-white dark:text-grey-950 py-1 px-2">beta</span>
        <span>
          This is a new website, your <a class="underline text-sky-blue-500 dark:text-sky-blue-300" href="mailto:magicdev@bas.ac.uk">feedback</a> will help us to improve it.
        </span>
    </div>
</header>
