<nav>
    <h4>Standards</h4>
    <ul>
        <li><a href="/standards/iso-19115-19139">ISO 19115/19139</a></li>
    </ul>
    <h4>Profiles</h4>
    <ul>
        <li><a href="/profiles/magic-discovery/v2">MAGIC Discovery</a></li>
    </ul>
    <h4>Resources</h4>
    <ul>
        <li><a href="/resources/media-types">Media Types</a></li>
        <li><a href="/resources/licences">Licences</a></li>
        <li><a href="https://github.com/antarctica/metadata-library">BAS Metadata Library</a></li>
    </ul>
</nav>
