<aside>
    <nav class="space-y-4">
        <div class="space-y-2">
            <h4>Standards</h4>
            <ul>
                <li><a class="underline text-sky-blue-500 dark:text-sky-blue-300" href="/standards/iso-19115-19139">ISO 19115/19139</a></li>
            </ul>
        </div>
        <div class="space-y-2">
            <h4>Profiles</h4>
            <ul>
                <li><a class="underline text-sky-blue-500 dark:text-sky-blue-300" href="/profiles/magic-discovery/latest">MAGIC Discovery</a></li>
            </ul>
        </div>
        <div class="space-y-2">
            <h4>Resources</h4>
            <ul>
                <li><a class="underline text-sky-blue-500 dark:text-sky-blue-300" href="/resources/media-types">Media Types</a></li>
                <li><a class="underline text-sky-blue-500 dark:text-sky-blue-300" href="/resources/licences">Licences</a></li>
                <li><a class="underline text-sky-blue-500 dark:text-sky-blue-300" href="https://github.com/antarctica/metadata-library">BAS Metadata Library</a></li>
            </ul>
        </div>
    </nav>
</aside>