anytree==2.6.0
bandit==1.6.2
bas-metadata-library==0.2.2
bas-style-kit-jinja-templates==0.4.0
Flask==1.1.1
flask-caching==1.7.2
flake8==3.7.8
Frozen-Flask==0.15
rdflib==4.2.2
unittest-xml-reporting==2.5.1
