{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header bsk-page-header-stacked">
  <h1>
    <small>Standard</small>
    <br>
    ISO 19115 (19139)
  </h1>
</header>

<div class="bsk-row">
    <div class="bsk-col-12-md-10">
        <p>
            <a href="https://www.iso.org/standard/26020.html">ISO 19115</a> is a standard for describing geographic data
        and services. It is an <em>abstract</em> schema, meaning it describes it a data model other standards implement.
            <a href="https://www.iso.org/standard/32557.html">ISO 19139</a> is a <em>concrete</em> implementation of ISO
        19115 schema in XML.
        </p>

        <section class="app-space-lg">
            <h2>Profiles</h2>
            <p>There are various profiles for ISO 19115 that constrain its use for interoperability with
            various initiatives.</p>
            <p class="bsk-alert bsk-alert-highlight bsk-alert-info">
                See the <a class="bsk-alert-link" href="/about#standards-profiles">about</a> page for general
                information on the differences between <em>standards</em> and <em>profiles</em>.
            </p>
            <ul>
                <li><a href="/standards/iso-19115/profiles/inspire">EU INSPIRE</a></li>
                <li><a href="/standards/iso-19115/profiles/gemini">UK GEMINI</a></li>
                <li><a href="/standards/iso-19115/profiles/uk-pdc-discovery">UK PDC Discovery</a></li>
            </ul>
        </section>

        <section class="app-space-lg">
            <h2>Vocabularies</h2>
            <p>The ISO 19115 standard defines a number of code lists used for controlling terms such as date types and
                topic categories.</p>
            <ul>
                <li><a href="/vocabularies/iso-19115">ISO 19115 (code lists)</a></li>
            </ul>
        </section>

        <section class="app-space-lg">
            <h2>Validation</h2>
            <p class="bsk-alert bsk-alert-highlight bsk-alert-info">
                See the <a class="bsk-alert-link" href="/about#validation">about</a> page for general information on
                how metadata records are validated.
            </p>
            <p>Records can be validated against this standard using its
               <a href="https://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/">schemas</a> and
               <a href="https://guidance.data.gov.uk/publish_and_manage_data/harvest_or_add_data/harvest_data/gemini/#gemini-and-iso-19139-metadata">schematron</a>
                (ISO 19139 Table A.1 Constraints).
            </p>
        </section>

        <section class="app-space-lg">
            <h2>XML stylesheets</h2>
            <p>XML stylesheets are used to aid reading and improving ISO 19115 based metadata records.</p>

            <section class="app-space-md">
                <h3 class="bsk-h4">XML to HTML stylesheet</h3>
                <p>The <a href="https://service.ncddc.noaa.gov/rdn/www/metadata-standards/metadata-xml/documents/ISOxml2html.zip">ISO 19115 to HTML</a>
                    stylesheet, from the National Centers for Environmental Information (NCEI), presents metadata in a more
                    readable form than raw XML. This stylesheet is useful for reviewing the contents, rather than technical
                    structure of an XML record.
                </p>
            </section>
            <section class="app-space-md">
                <h3 class="bsk-h4">ISO rubric stylesheet</h3>
                <p>The <a href="https://www.ngdc.noaa.gov/metadata/published/xsl/isoRubricHTML.xsl">SpiralTracker report</a>
                    stylesheet, from the National Centers for Environmental Information (NCEI), assesses the quality of a
                    metadata record against ISO 19115.
                </p>
            </section>
        </section>
    </div>
</div>
{% endblock %}
