{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header bsk-col-12-md-10">
    <h1>About</h1>
</header>
<div class="bsk-row">
    <div class="bsk-col-12-md-10">
        <section id="standards-profiles">
            <h2>Metadata standards and profiles</h2>
            <p>Metadata <em>standards</em> and <em>profiles</em> explain how to describe a resource such that it can be
                understood, unambiguously, by others.</p>

            <p>An <em>abstract standard</em> describes an information model. A <em>concrete implementation</em> describes
                how to implement an abstract model, such as using XML. There are relatively few standards usually made by
                international bodies such as ISO.</p>

            <p>A metadata <em>profile</em>, applies on top of a metadata standard and is focused on a particular topic
                discipline or other initiative. Profiles can restrict which elements in a standard may be used, make
                optional elements mandatory, add or restrict options for elements with controlled values and provide
                guidance on which elements and values to use in different situations.</p>
            <p> There are a large range of profiles from different groups such as national and international standards
                bodies, discipline or location specific groups and large collaborative projects.</p>
            <p>Profile's cannot make mandatory elements in the standard they apply to, optional (i.e. a profile can
                only be restrictive, not permissive).</p>

            <section id="validation" class="app-space-md">
                <h3>Metadata validation</h3>
                <p>To ensure compliance, metadata standards and profiles typically include a means to programmatically check
                    records contain:
                </p>
                <ul>
                    <li>any required elements</li>
                    <li>any required/controlled element values</li>
                    <li>elements in the correct order</li>
                </ul>

                <p>Metadata standards typically use schemas and schematrons to determine if a record is valid:</p>
                <ul>
                    <li>a <em>schema</em> checks the structure of elements in a record</li>
                    <li>a <em>schematron</em> checks specific elements in a record using a series of rules and patterns</li>
                </ul>

                <p>Notably a schematron can be use conditional logic, such as to ensure an element is included when certain
                    conditions are met.</p>
                <p>Some standards or profiles provide a validation service with a user interface and/or API for validating
                    records.</p>
            </section>
        </section>

        <section id="vocabularies-code-lists" class="app-space-lg">
            <h2>Metadata vocabularies and code lists</h2>
            <p>Metadata <em>vocabularies</em> and <em>code lists</em> describe lists of controlled terms such that
                meaning can be expressed unambiguously and consistently by others.</p>

            <p>
                A <em>vocabulary</em> can take different forms, from simple lists of values to complex graphs. Simple
                vocabularies are often encoded as CSV files or similar, whilst those that are more complex, typically
                use linked data concepts, such as the
                <a href="https://www.w3.org/TR/skos-reference/">Simple Knowledge Organisation System (SKOS)</a>.</p>
            <p>
                This ontology allows relationships between terms to be expressed, such as a one term being broader/narrower
                than another, or that a term is an alias for or broadly similar to another. These more complex
                vocabularies are typically encoded as RDF triples.</p>
            <p>
                A <em>code list</em> is a concept from the <a href="/standards/iso-19115">ISO 19115</a> standard. It
                consists of a <em>code list</em> and <em>code list value</em> attribute. The <em>code list</em> is a
                URI to a specific list of terms and the <em>code list value</em> is a value from this list. The list
                and its terms are encoded in XML.
            </p>
            <p>
                For example, a code list is used to control the types of date in an ISO 19115 record. The
                <em>code list</em> for date types is:
                <code>https://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/gmxCodelists.xml#CI_DateTypeCode</code>.
                This list defines entries such as a 'creation' or 'publication' date.
            </p>
        </section>
    </div>
</div>
{% endblock %}
