{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header">
    <h1>BAS Metadata Records</h1>
    <p class="bsk-lead">Metadata standards used in BAS and the UK PDC</p>
</header>
<div class="bsk-row">
    <div class="bsk-col-12-md-10">
        <section>
            <p>This website documents the <a href="https://www.bas.ac.uk">British Antarctic Survey's</a> and the
                <a href="https://www.bas.ac.uk/pdc">UK Polar Data Centre's</a> compliance with various metadata
                standards, profiles and vocabularies for producing discovery level metadata.</p>
            <div class="bsk-alert bsk-alert-highlight bsk-alert-info app-space-md">
                <p>
                    This website is part of the
                    <a class="bsk-alert-link" href="https://github.com/antarctica/bas-metadata-standards">BAS Metadata Standards</a>
                    project, which aims to:
                </p>
                <ul class="app-space-md">
                    <li>Document the metadata standards and vocabularies used by BAS and the UK PDC</li>
                    <li>improve conformance to metadata standards and profiles</li>
                    <li>improve interoperability between standards</li>
                    <li>provide guidance on best practices for discovery metadata</li>
                </ul>
            </div>
        </section>
        <section class="app-space-lg">
            <h2>Metadata standards and profiles</h2>
            <p>The standards and profiles currently used by BAS and the UK PDC for discovery metadata are:</p>
            <table class="bsk-table">
                <thead>
                    <tr>
                        <th>Standard/Profile</th>
                        <th>Type</th>
                        <th>Based On</th>
                        <th>Version (Year)</th>
                        <th>Format</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/standards/iso-19115">ISO 19115</a></td>
                        <td>Standard (abstract)</td>
                        <td><em>None</em></td>
                        <td>1.0 (2003)</td>
                        <td><em>N/A</em></td>
                        <td>Defines a conceptual model of a standard</td>
                    </tr>
                    <tr>
                        <td><a href="/standards/iso-19115">ISO 19139</a></td>
                        <td>Standard (concrete)</td>
                        <td>ISO 19115</td>
                        <td>1.0 (2007)</td>
                        <td>XML</td>
                        <td>Implements the conceptual model of ISO 19115 using XML </td>
                    </tr>
                    <tr>
                        <td><a href="/standards/iso-19115/profiles/inspire">EU INSPIRE</a></td>
                        <td>Profile</td>
                        <td>ISO 19139</td>
                        <td>1.3</td>
                        <td>XML</td>
                        <td>Profile to create a common spatial data infrastructure across Europe</td>
                    </tr>
                    <tr>
                        <td><a href="/standards/iso-19115/profiles/gemini">UK GEMINI</a></td>
                        <td>Profile</td>
                        <td>ISO 19139 (INSPIRE)</td>
                        <td>2.3</td>
                        <td>XML</td>
                        <td>UK implementation of the Inspire profile</td>
                    </tr>
                    <tr>
                        <td><a href="/standards/iso-19115/profiles/uk-pdc-discovery">UK PDC Discovery</a></td>
                        <td>Profile</td>
                        <td>ISO 19139 (GEMINI)</td>
                        <td>1.0</td>
                        <td>XML</td>
                        <td>UK PDC specific conventions and requirements for datasets</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="app-space-lg">
            <h2>Documentation</h2>
            <p>See the <a class="bsk-alert-link" href="/about#standards-profiles">about</a> page for general
                information on the differences between metadata <em>standards</em> and <em>profiles</em>.
            </p>
            <p>BAS / UK PDC staff can also see working documentation in the
                <a href="https://gitlab.data.bas.ac.uk/uk-pdc/metadata-infrastructure/metadata-standards/wikis/home">Wiki</a> (internal).
            </p>
        </section>
    </div>
</div>
{% endblock %}
