{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
<style>
    .app-space-md {
        margin-top: 35px;
    }
    .app-space-lg {
        margin-top: 70px;
    }
</style>
<header class="bsk-page-header bsk-col-12-md-10 bsk-col-12-md-offset-1">
    <h1>BAS Metadata Records</h1>
    <p class="bsk-lead">Discovery metadata standards used in BAS and the UK PDC</p>
</header>

<section class="bsk-col-12-md-10 bsk-col-12-md-offset-1">
    <p>This project aims to document the <a href="https://www.bas.ac.uk">British Antarctic Survey's</a> and the
        <a href="https://www.bas.ac.uk/pdc">UK Polar Data Centre's</a> compliance with various metadata standards and
        profiles for producing discovery level metadata.</p>

    <p>Currently this project consists of candidate records that implement all the requirements of these metadata
        standards and profiles. In addition to conformance, these candidate records improve interoperability between
        standards and implement best practices for discovery metadata.</p>

    <p>These candidate records are being used to guide the requirements for changes to the tools, processes and
        policies used by BAS and the UK PDC (such as editing, validating and cataloguing metadata records).</p>

    <p>Longer term this project will act as a reference for how to implement metadata standards, containing reference
        records, templates and guidance.</p>

    <p><strong>Note:</strong> Whilst this project is focused on the UK Polar Data Centre, it will have relevance to
        metadata producers in BAS and possibly NERC, and may be useful to others more generally.</p>
</section>

<section class="app-space-lg bsk-col-12-md-10 bsk-col-12-md-offset-1">
    <h2>ISO 19115/19139 (Inspire/Gemini)</h2>
    <h3 class="bsk-h4 app-space-md">UK PDC - Candidate record</h3>
    <ul class="bsk-list-inline bsk-list-unstyled">
        {# These links assume the Flask app has been frozen - they won't work in the live Flask app #}
        <li><a href="/standards/iso-19115/uk-pdc-candidate/uk-pdc-iso-19115-candidate.xml">Raw record</a></li>
        <li><a href="/standards/iso-19115/uk-pdc-candidate/iso-html/uk-pdc-iso-19115-candidate-html.xml">XML to HTML</a></li>
        <li><a href="/standards/iso-19115/uk-pdc-candidate/iso-rubric/uk-pdc-iso-19115-candidate-rubric.xml">ISO rubric</a></li>
    </ul>
</section>

<footer class="app-space-lg bsk-col-12-md-10 bsk-col-12-md-offset-1">
    <div class="bsk-alert bsk-alert-highlight bsk-alert-info">
        See the
        <a class="bsk-alert-link" href="https://gitlab.data.bas.ac.uk/uk-pdc/metadata-infrastructure/metadata-standards">project repository</a>
        on the BAS GitLab for more information on this project.
    </div>
</footer>
{% endblock %}
