{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content %}
    <h1>Privacy policy</h1>

    <p>We collect information or data about you when you use this website.</p>

    <p>This includes:</p>
    <ul>
        <li>any feedback you leave, including your name and email address, if you choose to provide it</li>
        <li>part of your computers IP address</li>
        <li>details about which web browser and device you are using (e.g. the version and screen size)</li>
        <li>information on how you use this website, including the pages you visit, using analytics and cookies</li>
    </ul>

    <p>This enables us to:</p>
    <ul>
        <li>respond to any feedback you send us, if you've asked us to</li>
        <li>learn where visitors to this website came from</li>
        <li>ensure this website works correctly for as many devices as possible</li>
        <li>learn which parts of this website are more or less popular to help focus on what's most useful for most people</li>
    </ul>

    <p><strong>We cannot personally identify you with this information.</strong></p>

    <h2>Keeping your information secure</h2>
    <p>Transmitting information over the internet is generally not completely secure, and we can't guarantee the
        security of your data.</p>

    <p><strong>Any data you transmit is at your own risk.</strong></p>

    <p>We have procedures and security features in place to try and keep your data secure once we receive it.</p>

    <h2>Processing your information</h2>
    <p>We handle personal data in compliance with data protection law, and recognise the importance of the correct
        and lawful processing of personal data in maintaining confidence in our operations. Further information can be
        found in <a href="https://nerc.ukri.org/about/policy/foi/information/">Parent Body’s information notice</a>.</p>

    <h2>Where your information is stored</h2>
    <p>We will store your data with adequate levels of protection for your data protection rights and freedoms.
        This sometimes may involve the use of assured third-party systems.</p>

    <h3>Google analytics</h3>

    <p>We use Google Analytics to collect information about how you use this website. Please see
        <a href="https://support.google.com/analytics/answer/6004245?hl=en">https://support.google.com/analytics/answer/6004245?hl=en</a>
        for more information.
    </p>

    <p>We opt-out of any optional programmes to link your data with other products (except those we control) including
        benchmarking and optimisation.</p>

    <p>We use IP address anonymisation to prevent your full IP address being stored. Please see
        <a href="https://support.google.com/analytics/answer/2763052">https://support.google.com/analytics/answer/2763052</a>
        for more information.
    </p>

    <h2>Disclosing your information</h2>
    <p>We won’t pass on your details to other websites, unless you provide your consent for us to do so, and we won’t
        share your information with any other organisations for marketing, market research or commercial purposes.</p>
    <p>We may pass on your personal information if we have a legal obligation to do so.</p>

    <h2>Your rights</h2>
    <p>You can find out what information we hold about you and ask us not to use any of the information we collect.
        <br /> Our contact information is: <a href="mailto:foi@bas.ac.uk">foi@bas.ac.uk</a>.
    </p>
    <p>If you are not happy with the response you receive, or do not hear back, please follow the
        British Antarctic Survey <a href="https://www.bas.ac.uk/about/contact-bas/complaints/">complaints procedure</a>.
    </p>

    <h2>Links to other websites</h2>
    <p>This website has links to other websites for which we are not responsible.</p>
    <p>This privacy policy only applies to this website.</p>

    <h2>Following a link to another website</h2>
    <p>If you go to another website from this one, read the privacy policy on that website to find out what it does
        with your information.</p>

    <hr />

    <h2>Changes to this policy</h2>
    <h3>19th July 2019</h3>
    <ul>
        <li>initial policy</li>
    </ul>
{% endblock %}
