extends ../../node_modules/@antarctica/bas-style-kit-pug-templates/layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.site_title = 'UK-PDC Metadata Records';
  - attributes.site_description = 'Reference examples of metadata records for the UK-PDC';
  - bsk_attributes.site_nav_brand_text = 'UK-PDC Metadata Records';
  - bsk_attributes.site_development_phase = 'experimental';
  - bsk_attributes.site_feedback_href = 'mailto:felnne@bas.ac.uk';
  - bsk_attributes.site_footer_policies_cookies_href = '#';
  - bsk_attributes.site_footer_policies_copyright_href = '#';
  - bsk_attributes.site_footer_policies_privacy_href = '#';
  //- custom styles
  - attributes.site_styles.push({href: 'https://cdn.web.bas.ac.uk/libs/font-awesome-pro/5.3.1/css/all.min.css', integrity: 'sha256-dmYY0yByM18KPaizF7sJXlVB3j4gBovN0xzGOEePAYg='})
  - attributes.site_styles.push({href: 'https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css'})
  //- navigation items
  - bsk_attributes.site_nav_primary.push({title: 'Record Example', href: '/record.html'});
  - bsk_attributes.site_nav_primary.push({title: 'XML Templates', items: [{title: 'ISO HTML', href: '/iso-pdc-resolved-example-html.xml'}, {title: 'ISO Rubric', href: '/iso-pdc-resolved-example-rubric.xml'}]});
